[general]
name = "minilib-comonad"
version = "0.6.0"
fix_version = "1.3.0"
authors = ["pt9999"]
license = "MIT"

[build]
opt_level = "basic"
files = [
    "lib/comonad/env.fix",
    "lib/comonad/identity_c.fix",
    "lib/comonad/traced.fix",
    "lib/trait/comonad.fix",
]

[build.test]
opt_level = "basic"
files = [
    "tests/test.fix",
    "tests/comonad/env_test.fix",
    "tests/comonad/identity_c_test.fix",
    "tests/comonad/traced_test.fix",
]

[[dependencies]]
name = "minilib-common"
version = "0.12.0"
# path = "../fixlang-minilib-common"
git = { url = "https://github.com/pt9999/fixlang-minilib-common.git" }

[[dependencies]]
name = "minilib-monad"
version = "0.11.0"
# path = "../fixlang-minilib-monad"
git = { url = "https://github.com/pt9999/fixlang-minilib-monad.git" }
